<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Draw! | Palettle</title>
    <link rel="stylesheet" href="/static/styles/pico.min.css" />
    <link rel="stylesheet" href="/static/styles/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/images/palettle.png" />
  </head>
  <body>
    {% include '_navbar.html' %}
  <script>const fail = "/sign-up";</script>
    <main id="main" class="container" hidden>
      <h2 class="prompt">Prompt: {{prompt}}</h2>
      <div class="drawing-ui">
        <div class="palette">
          {% for color in palette %}
          <input type="radio" name="palette"
            style="--color: {{color}}"
            onclick="setColor('{{color}}')"
          ></input>
          {% endfor %}
        </div>
        <div class="canvas-container">
          <canvas id="drawingCanvas" width="4" height="4">
            Canvas Failed to Load
          </canvas>
          <p class="pixel-font" id="canvasDetails">X Y W H</p>
        </div>
        <div class="toolbar">
          <label class="tool-label">
            <input id="draw" type="radio" name="tool" onclick="setTool(0)" checked>
            <img class="icon" src="/static/images/pencil.png" />
          </label>
          <label class="tool-label">
            <input id="erase" type="radio" name="tool" onclick="setTool(1)">
            <img class="icon" src="/static/images/eraser.png" />
          </label>
          <label class="tool-label">
            <input id="fill" type="radio" name="tool" onclick="setTool(2)">
            <img class="icon" src="/static/images/bucket.png" />
          </label>

          <button onclick="clearCanvas()">
            <img class="icon" src="/static/images/x.png" />
          </button>
          <button onclick="undo()">
            <img class="icon" src="/static/images/undo.png" />
          </button>
          <button onclick="redo()">
            <img class="icon" src="/static/images/redo.png" />
          </button>
        </div>
      </div>
      <form class="art-form" action="/submit-art" method="POST">
        <input id="imageData" type="hidden" name="image_data[]" value="0" />
        <input id="authorInput" type="hidden" name="username" value="" />
        <button type="submit" class="submit-art">Submit Art!</button>
      </form>
    </main>
    <script src="/static/scripts/verify.js"></script>
    <script>
      const palette = {{palette | tojson}};
    </script>
    <script src="/static/scripts/constants.js"></script>
    <script src="/static/scripts/palette.js"></script>
    <script src="/static/scripts/draw.js"></script>
  </body>
</html>
