<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="/static/styles/pico.min.css" />
    <link rel="stylesheet" href="/static/styles/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/images/palettle.png" />
  </head>
  <body>
    {% include '_navbar.html' %}
    <main class="container">
      <div class="gallery-canvas-container">
        {% for a in art %}
        <a class="gallery-canvas-link" href="/art/{{a.author}}">
          <p class="likes-count">{{a.likes | int - a.dislikes | int}}</p>
          <canvas class="gallery-canvas" id="{{loop.index0}}"></canvas
        ></a>
        {% endfor %}
      </div>
    </main>
    <script>
      const palette = {{palette | tojson}};
      const art = {{art | tojson}};
    </script>
    <script src="/static/scripts/constants.js"></script>
    <script src="/static/scripts/palette.js"></script>
    <script src="/static/scripts/gallery.js"></script>
  </body>
</html>
