<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up | Palettle</title>
    <link rel="stylesheet" href="/static/styles/pico.min.css" />
    <link rel="stylesheet" href="/static/styles/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/images/palettle.png" />
  </head>
  <body>
    {% include '_navbar.html' %}
    <main class="container">
      <form method="POST" action="/sign-up" onsubmit="saveData()">
        {% if error %}
        <p>{{error}}</p>
        {% endif %}
        <label for="newUsername">Username</label>
        <input
          type="text"
          name="newUsername"
          id="newUsername"
          required
          maxlength="16"
          pattern="^[a-zA-Z0-9_]{1,16}$"
          placeholder="Enter a Username (Only A-Z, 1-9, Underscores)"
        />
        <label for="pin">Pin</label>
        <input
          type="password"
          name="pin"
          id="pin"
          minlength="4"
          maxlength="4"
          inputmode="numeric"
          pattern="[0-9]*"
          required
          placeholder="Enter 4 a Digit Pin"
        />
        <input type="hidden" name="key" id="key" />
        <button type="submit">Submit</button>
      </form>
    </main>
    <script>
          const hasError = {{ 'true' if error else 'false' }};
          if (hasError) {
            localStorage.clear();
          } else if (localStorage.getItem("key") && localStorage.
      getItem("username")) {
            window.location.href = "/draw";
          }
    </script>
    <script>
      if (localStorage.getItem("key") && localStorage.getItem("username")) {
        window.location.href = "/draw";
      }

      const newUsername = document.getElementById("newUsername");
      const keyElement = document.getElementById("key");
      keyElement.value = crypto.randomUUID();

      function saveData() {
        localStorage.setItem("username", newUsername.value);
        localStorage.setItem("key", keyElement.value);
      }
    </script>
  </body>
</html>
