@font-face {
  font-family: "Depature Mono";
  src: url("/static/fonts/DepartureMono-Regular.woff2");
}

@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-VariableFont_opsz,wght.ttf");
}

:root {
  --font-display: "Depature Mono", system-ui, sans-serif;
  --font-default: "Inter", system-ui, sans-serif;

  --pico-font-family: var(--font-default);

  --canvas-background: #cad9e8;
}

h1,
h2,
h3,
.pixel-font {
  font-family: var(--font-display);
  font-weight: normal;
  letter-spacing: 0;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 22px;
}

.prompt {
  text-align: center;
}

.drawing-ui {
  display: flex;
  gap: var(--pico-spacing);
  align-self: stretch;
  justify-content: center;
}

.canvas-container {
  display: flex;
  flex: 1;
  max-width: 32rem;
  flex-direction: column;
}

.toolbar,
.palette {
  display: flex;
  flex-direction: column;
  gap: calc(var(--pico-spacing) / 2);
}

.toolbar button {
  width: 2rem;
  text-overflow: clip;
  text-wrap-mode: nowrap;
  aspect-ratio: 1 / 1;
}

.palette button {
  width: 2rem;
  aspect-ratio: 1 / 1;
  border-color: color-mix(var(--color) 75%, white);
  background-color: var(--color);
}

.art-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-art {
  width: max-content !important;
}

.gallery-canvas-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-canvas {
  min-width: 4rem;
  image-rendering: pixelated;
  background-color: var(--canvas-background);
}

.personal-canvas-container {
  display: flex;
  flex-direction: column;
  image-rendering: pixelated;
}

.personal-canvas {
  align-self: center;
  width: 100%;
  max-width: 32rem;
  background-color: var(--canvas-background);
}

#drawingCanvas {
  background-color: var(--canvas-background);
  width: 100%;
  max-width: 32rem;
  max-height: 32rem;
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
  image-rendering: pixelated;
}

#canvasDetails {
  font-size: 11px;
}
