@font-face {
  font-family: "Depature Mono";
  src: url("/static/fonts/DepartureMono-Regular.woff2");
}

@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-VariableFont_opsz,wght.ttf");
}

:root {
  --font-display: "Depature Mono", system-ui, sans-serif;
  --font-default: "Inter", system-ui, sans-serif;

  --pico-font-family: var(--font-default);
}

h1,
h2,
h3 {
  font-family: var(--font-display);
  font-weight: normal;
  letter-spacing: 0;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 22px;
}

#drawingCanvas {
  background-color: lightgray;
  width: 100%;
  max-width: 32rem;
  aspect-ratio: 1 / 1;
  image-rendering: pixelated;
}

.drawing-ui {
  display: flex;
  gap: var(--pico-spacing);
  justify-content: center;
}

.toolbar,
.palette {
  display: flex;
  flex-direction: column;
  gap: calc(var(--pico-spacing) / 2);
}

.toolbar button {
  min-width: 2rem;
  aspect-ratio: 1 / 1;
}

.palette button {
  min-width: 2rem;
  aspect-ratio: 1 / 1;
  border-color: color-mix(var(--color) 75%, white);
  background-color: var(--color);
}
